<mat-tab-group mat-stretch-tabs="yes">

  <mat-tab label="Demo">
    <div class="tab-content">
      <h3 class="doc-header">Profile for side navigation</h3>
      <div style="width: 100%">
        <ext-profile-basic></ext-profile-basic>
      </div>
      <div>
        <ext-profile-button></ext-profile-button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Setup">
    <div class="tab-content">
      <h3 class="doc-header">Installing</h3>
    </div>
  </mat-tab>

  <mat-tab label="API">
    <div class="tab-content">
    </div>
  </mat-tab>

</mat-tab-group>