.mat-column-select {
    overflow: initial;
}

.bottom-right {
    position: fixed;
    bottom: 24px;
    right: 24px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 14px;
}