<mat-tab-group mat-stretch-tabs="yes">
    <mat-tab label="Demo">
        <div class="tab-content">
            <h3 class="doc-header">Facebook Authentication</h3>
            <p>Add Facebook login to your angular application.</p>
            <p>Use your Facebook application to authenticate your web application</p>
            <mat-card class="mat-elevation-z6">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <ext-login-facebook (userInfo)="onUserInfo($event)" (token)="onToken($event)"> </ext-login-facebook>
                    <span>Login with Facebook</span>
                </div>
            </mat-card>

            <div>
                <p style="word-break: break-all">
                    <strong *ngIf="accessToken?.access_token">Access Token :</strong> {{accessToken?.access_token}}</p>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <img *ngIf="userInfo?.picture" [src]="userInfo?.picture" alt="">
                <div fxLayout="column" style="margin-left: 2vw">
                    <span>{{userInfo?.name}}</span>
                    <span>{{userInfo?.email}}</span>
                </div>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Setup">
        <div class="tab-content">
            <h3 class="doc-header">Installing</h3>
            <td-highlight lang="bash">
                <![CDATA[
            npm i -- save @extendz/auth
              ]]>
            </td-highlight>

            <h3 class="doc-header">Register</h3>

            <td-highlight lang="typescript">
                <![CDATA[
          
          import {ExtendzFacebookModule} from "@extendz/auth"
  
          @NgModule({
            imports: [
                ExtendzFacebookModule.forRoot({
                    appId: '1160717500690676',
                    exchangeServer: {
                        url: 'http://localhost:8080/auth/realms/extendz/protocol/openid-connect/token',
                        client_id: 'angular'
                    }
                }),
              ...           
            ],
          })
            ]]>
            </td-highlight>

            <h3 class="doc-header">Setup</h3>

            <td-highlight lang="html">
                <![CDATA[
             <ext-login-facebook (userInfo)="onUserInfo($event)" (token)="onToken($event)"> </ext-login-facebook>
            ]]>
            </td-highlight>

            <h3 class="doc-header">Optinal Setup</h3>
            <p>You can exchange your Facebook token to an internal token so that you can use within a private API. Currently
                keycloak can be configured to do a token exchange.Do to so you have to provide the Keycloak server details
                and some other configuration in keycloak server.</p>

        </div>
    </mat-tab>

    <mat-tab label="API">
        <div class="tab-content">
            <h3 class="doc-header">Events</h3>
            <td-highlight lang="typescript">
                <![CDATA[
  
          import { AccessToken, UserInfo } from '@extendz/auth';
  
          /***
          * On successful token.
          **/
          token(accessToken: AccessToken) {}
  
          /***
          * On successful user Info.
          **/
          userInfo(userInfo:UserInfo) {}
  
             ]]>
            </td-highlight>
        </div>
    </mat-tab>

</mat-tab-group>