.sections h2 {
    text-align: center;
}

.logo {
    width: 50%;
    height: 50%;
}

.tint {
    background-repeat: no-repeat;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    color: white;
    height: 40vh;
    background-image: url('/assets/img/bg.jpg');
    background-size: 100%;
}