<div class="tint mat-elevation-z3"></div>
<div fxLayout="column" >
    <!-- <div style="background-color: #8BC34A;width:100%;height:40vh"></div> -->
    <div fxFlex="row" style="margin-top:1vh">
        <div fxFlex="1vw"></div>
        <div fxFlex fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex></div>
                <div fxFlex>
                    <div fxFlex></div>
                    <img class="logo" src="assets/img/logo.png" alt="logo">
                    <div fxFlex></div>
                </div>
                <div fxFlex></div>
            </div>
            <div>
                <h1 align="center">Angular applications made EASY !!</h1>
                <!-- <h3>Creating entirprize ready application with few configurations!</h3>
                <button mat-button>TAKE A LOOK</button> -->
                <div class="sections" fxLayout.xs="row">
                    <div fxFlex="1vw"></div>
                    <div fxFlex fxLayout="column">
                        <h2>Free and Open Source</h2>
                        <!-- <p>Licenced under Apache 2.0</p>
                        <p>Visit Github to see it in action</p> -->
                    </div>
                    <div fxFlex fxLayout="column">
                        <h2>Beautiful</h2>
                    </div>
                    <div fxFlex fxLayout="column">
                        <h2>Well documented</h2>
                    </div>
                    <div fxFlex="1vw"></div>
                </div>
                <!-- <div>
                    10+ components
                </div> -->
            </div>
            <div fxFlex="1vw"></div>
        </div>
    </div>