<div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="1vw">

  <mat-form-field fxFlex style="width: 100%">
    <input matInput disabled type="number" [placeholder]="property?.name | camelCase">
  </mat-form-field>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap style="width: 100%">
    <!-- Add button -->
    <button fxFlex="30%" fxFlex.xs="100%" *ngIf="allowMultiple || images?.length === 0" class="upload-button image-title" type="button"
      mat-button (click)="imgFileInput.click()">
      <mat-icon>
        <svg id="add" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </mat-icon>
    </button>


    <!-- [ngStyle]="{'background-image': 'url(' + url + ')'}" -->
    <button mat-button fxFlex="30%" fxFlex.xs="100%" *ngFor="let image of images" [matMenuTriggerFor]="appMenu" extApiImage [url]="image.url"
      class="upload-button" type="button" [ngClass]="{ 'gray': image.loading || image.broken}">
      <mat-icon *ngIf="!image.loading && !image.broken">
        <svg id="edit" viewBox="0 0 24 24">
          <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
          />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </mat-icon>

      <mat-icon *ngIf="image.broken">
        <svg id="broken_image" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0zm0 0h24v24H0zm21 19c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2V5c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2" fill="none"
          />
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M21 5v6.59l-3-3.01-4 4.01-4-4-4 4-3-3.01V5c0-1.1.9-2 2-2h14c1.1 0 2 .9 2 2zm-3 6.42l3 3.01V19c0 1.1-.9 2-2 2H5c-1.1 0-2-.9-2-2v-6.58l3 2.99 4-4 4 4 4-3.99z"
          />
        </svg>
      </mat-icon>

      <div fxLayoutAlign="center center">
        <mat-spinner *ngIf="image.loading" color="accent"></mat-spinner>
      </div>
    </button>
    <mat-menu #appMenu="matMenu" yPosition="above">
      <!-- <button mat-menu-item (click)="imgFileInput.click()">Edit</button> -->
      <button disabled mat-menu-item>Remove</button>
    </mat-menu>

  </div>
  <input hidden [multiple]="allowMultiple" type="file" #imgFileInput (change)="handleFile($event)" />

  <!-- <img *ngIf="imageFile" [src]="imageFile" [alt]="property.name" style="width: 10vw;height: auto"> -->
</div>