/* .dark {
    background-color: #3c3a37;
} */

mat-list a {
    text-decoration: none;
}

.margined {
    margin: 0.5vw;
}


/* mat-panel-title {
    color: white
} */


/* mat-expansion-panel {
    background-color: #3c3a37;
}

mat-list a,
mat-icon {
    color: white
} */

mat-panel-title mat-icon {
    margin-right: 1vw;
    color: #999;
}

mat-sidenav-container {
    background-color: white;
}