.dark {
    background-color: #3c3a37;
}

mat-list a {
    text-decoration: none
}

mat-panel-title {
    color: white
}

mat-expansion-panel {
    background-color: #3c3a37;
}

mat-list a,mat-icon {
    color: white
}