
<mat-tab-group>
  <mat-tab label="Overview">
    <div class="tab-content">
      <h3 class="doc-header">Use Google Map</h3>
      <p>With few lines of codes you can use google map in anywhere in your angular app </p>
    </div>
  </mat-tab>
  <mat-tab label="API">
    <div class="tab-content">
    </div>
  </mat-tab>
  <mat-tab label="Demo">
    <div class="tab-content" style="height: 80vh">
      <ext-google-map [center]= "latLng" [zoom] ="4" [advance] = true ></ext-google-map>
    </div>
  </mat-tab>
</mat-tab-group>