<div fxLayout="column" class="primary-bg header" fxLayoutAlign="start center" *ngIf="user$ | async;let user;">
    <img *ngIf="user.picture;else icon" [src]="user.picture" class="white-72 white">
    <ng-template #icon>
        <mat-icon class="white-72 gray-fg">
            <svg id="person" viewBox="0 0 24 24">
                <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" />
                <path d="M0 0h24v24H0z" fill="none" />
            </svg>
        </mat-icon>
    </ng-template>    
    <span class="name"><strong>{{user.given_name}} {{user?.family_name}}</strong></span>
    <span class="email">{{user?.email}} </span>
    <!-- <button mat-button mat-raised-button>Logout</button> -->
</div>